@import url(../../index.css);


.wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 2rem auto;
    width: 180px;
    cursor: pointer;
}

.logo {
    width: 30px;
}

.title {
    color: var(--color-text-main);
    font-size: 18px;
    font-weight: 900;
}

.title:hover {
    color: var(--color-hover);
    transition: all 0.2s ease-in-out;
}